
<!DOCTYPE html>
<html lang="en-GB">
    {% include "_partials/head.njk" %}

    <body>
        {% block content %}
        {% endblock content %}

        {% block foot %}
        {% endblock %}
    </body>
</html>
