
<!DOCTYPE html>
<html class="no-js" lang="en-GB">
    {% include "_partials/head.njk" %}

    <body>
			<div class="page">
				{% include "_partials/components/header.njk" %}
				
				{% block content %}
				{% endblock content %}

				{% block foot %}
					{% include "_partials/components/footer.njk" %}
				{% endblock %}
				</div>
				<script id="cookieyes" type="text/javascript"
					src="https://cdn-cookieyes.com/client_data/9f7848037edc1f871bc6a088.js"></script>
    </body>
</html>
