
<!DOCTYPE html>
<html class="no-js" lang="en-GB">
    {% include "_partials/head.njk" %}

    <body>
			<div class="page">
				{% include "_partials/components/header.njk" %}
				{% block content %}
				{% endblock content %}

				{% block foot %}
				{% endblock %}
				</div>
    </body>
</html>
