{% for content in settings.errorpage %}
	<div class="posts">
		<section id="{{content.id}}" class="section"	aria-labelledby="404 error page">
			<div class="section__row">
				<div class="section__column section__column--solo">
					<h1>{{ content.title }}</h1>
					<p>{{ content.body }} <a class="link" title="return to homepage" href="/">homepage</a></p>
				</div>
			</div>
		<section>
	</div>
{% endfor %}