<footer class="footer">
	<div class="container">
		<ul class="footer__list" aria-role="menu">
			{% for item in settings.navigation %}
			
				{% if page.url == '/' %}
					{% set pre = '#' %}
				{% elif page.url != 'cookie-policy' and item.ref == 'contact' %}
					{% set pre = '#' %}
				{% else  %}
					{% set pre = '/#' %}
				{% endif %}
				{% if item.ref == 'services' %}
				<li class="footer__listItem" data-link="{{item.ref}}" aria-role="menuitem"><a class="footer__link"
						href="/{{item.ref}}" aria-role="link">{{item.title}}</a></li>
				{% else %}
				<li class="footer__listItem" data-link="{{item.ref}}" aria-role="menuitem"><a class="footer__link" href="{{pre}}{{item.ref}}" aria-role="link">{{item.title}}</a></li>
				{% endif %}

			{% endfor %}
				<li class="footer__listItem"><a class="footer__link" href="/cookie-policy" aria-role="link" aria-labelledby="cookie policy link">Cookie Policy</a></li>
		</ul>
		<p>Copyright &copy; Lisa Kim Fit 2021<br/>Website by <b>She Who Codes LTD</b></p>
	</div>
</footer>