{% for contact in settings.contact %}
<div class="posts">
	<section id="{{ contact.id }}" class="section" aria-labelledby="{{ contact.id }}">
		<div class="section__row">
			<div class="section__column">
				<h2>{{ contact.title }}</h2>
				<p>{{ contact.body }}</p>
			</div>
			<div class="section__column">
				<div id="mlb2-3949264" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-3949264">
					<div class="ml-form-align-center">
						<div class="ml-form-embedWrapper embedForm">
							<div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
								<form class="ml-block-form form" data-component="form" action="https://static.mailerlite.com/webforms/submit/w3f0p2" data-code="w3f0p2" method="post" target="_blank">
									<div class="ml-form-formContent ml-form-fieldRow" data-fieldset-wrap>
										<span class="disclaimer"><small>* required field</small></span>
										{% for field in contact.fields %}
										<fieldset class="ml-field-group {% if field.id == 'message' %}ml-field-company{% else %}ml-field-{{field.id}}{% endif %} ml-validate-{{field.id}} ml-validate-required form__field" data-fieldset>
											<label for="{{field.id}}"><span data-label-text class="noError">{{field.name}}* <i class="far fa-check-circle hide"
														data-field-complete></i></span> <span class="hide" data-field-error><i
														class="fas fa-exclamation-circle"></i>Please enter a valid {{field.id}}</span></label>
											{% if 'textarea' in field.type %}
											<textarea name="fields[company]" id="{{field.id}}" class="form-control" data-inputmask="" data-input rows="5" placeholder="{{field.placeholder}}"></textarea>
											{% else %}
											<input name="fields[{{field.id}}]" type="{{field.type}}" id="{{field.id}}" class="form-control" data-inputmask="" data-input placeholder="{{field.placeholder}}"
												{{ 'required' if 'true' in field.isRequired }} noError aria-label="{{field.id}}" />
											{% endif %}
										</fieldset>
										{% endfor %}
									</div>
									<input type="hidden" name="ml-submit" value="1">
									<fieldset class="form__field ml-form-embedSubmit">
										<input class="form__field__submit disabled primary" data-submit-button type="submit" value="SEND">
									</fieldset>
								</form>
								<div class="form__messages ml-form-successBody ml-form-successContent row-success" id="data-form-submitted" data-form-submitted style="display: none;">
									<p data-form-success style="display: none"> Thank you for your message, I'll get back to you soon. Keep an eye on your
										emails. </p>
									<p data-form-error style="display: none"> Oops! Something went wrong, please refresh and try again!
										<span class="close" data-button="close"><i class="fas fa-times"></i></span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="divider"></div>
</div>
{% endfor %}