{% for contact in settings.contact %}
<div class="posts">
	<section id="{{ contact.id }}" class="section" aria-labelledby="{{ contact.id }}">
		<div class="section__row">
			<div class="section__column">
				<h2>{{ contact.title }}</h2>
				<p>{{ contact.body }}</p>
			</div>
			<div class="section__column section__column__cta-collection">
				<a data-link class="cta" href="https://forms.gle/GjrA1yqADyicgETt8" title="Enquiry form" aria-role="link" rel="noreferrer" target="_blank">Enquire about personal coaching</a>
			</div>
		</div>
	</section>
	<div class="divider"></div>
</div>
{% endfor %}