{% for section in settings.sections %}
<div class="posts">
	<section id="{{ section.id }}" class="section" aria-labelledby="{{ section.id }}">
		<div class="section__row">
			<div class="section__column">
				<h2>{{ section.title }}</h2>
				<p>{{ section.body }}</p>

				{% if section.list %}
					<ul class="section__list">
						{% for item in section.list %}
							<li>{{ item.item }}</li>
						{% endfor %}
					</ul>
				{% endif %}

				{% if section.disclaimer %}
					<p class="disclaimer"><small>{{ section.disclaimer }}</small></p>
				{% endif %}
			</div>

			<div class="section__column {{ 'section__column--reverse' if 'reverse' in section.imagePosition }}">
				<img src="{{section.image}}" alt="{{section.title}}" width="536px" />
			</div>
		</div>
	</section>
	<blockquote>
		<div class="quote">
			<i class="fas fa-quote-right"></i><p>{{ section.quote }}</p><i class="fas fa-quote-left"></i>
		</div>
		<div class="blockquote__divider">
			<svg class="blockquote__divider__icon" width="150" height="27" viewBox="0 0 16.6 13.9" aria-describedby="logo">
				<title id="blockquoteHeartlogo">Heart and ecg</title>
				<image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/heart.svg" width="100%"
					height="100%"></image>
			</svg>
		</div>
	</blockquote>
	<div class="divider"></div>
</div>
{% endfor %}

