<section id="about" class="section">
	<div class="section__row">
		<div class="section__column">
		</div>

		<div class="section__column">
		</div>
	</div>
</section>

<section id="mission" class="section">
	<div class="section__row">
		<div class="section__column">
		</div>

		<div class="section__column">
		</div>
	</div>
</section>

<section id="service" class="section">
	<div class="section__row">
		<div class="section__column">
			<h2>Personal Training</h2>
		</div>

		<div class="section__column">
			<h2>Undiscovered</h2>
		</div>
	</div>

	<div class="section__row">
		<div class="section__column">
			<h2>Online Training</h2>
		</div>

		<div class="section__column">
			
		</div>
	</div>
</section>

<section id="contact" class="section">
	<div class="section__row">
		<div class="section__column">
		</div>

		<div class="section__column">
		</div>
	</div>
</section>