{% for section in settings.sections %}
<div class="posts">
	<section id="{{ section.id }}" class="section" aria-labelledby="{{ section.id }}">
		<div class="section__row">
			<div class="section__column">
				<h2>{{ section.title }}</h2>
				<p>{{ section.body }}</p>

				{% if section.list %}
					<ul class="section__list">
						{% for item in section.list %}
							<li>{{ item.item }}</li>
						{% endfor %}
					</ul>
				{% endif %}

				{% if section.disclaimer %}
					<p class="disclaimer"><small>{{ section.disclaimer }}</small></p>
				{% endif %}
			</div>

			<div class="section__column {{ 'section__column--reverse' if 'reverse' in section.imagePosition }}">
				<img src="{{section.image}}" alt="{{section.title}}" width="536px" />
			</div>
		</div>
	</section>
	<blockquote>
		<p>{{ section.quote }}</p>
	</blockquote>
	<div class="divider"></div>
</div>
{% endfor %}

