
<head>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, user-scalable=yes, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="{% if renderData.description or description %}{{ renderData.description or description }}{% endif %}">

    {% if nofollow %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}

    <!-- PAGE TITLE -->
    <title>{{ title }}</title>

    <!-- RESOURCE HINTS -->

    <!-- PRELOAD FILES -->
    {% include "_templates/preload-styles.njk" %}

    <!-- STYLESHEET -->
    {% include "_templates/styles.njk" %}

    <!-- SITEMAP -->

    <!-- MANIFEST -->

    <link rel="alternate" href="{{settings.url}}/" hreflang="en-gb">
    <link rel="canonical" href="{{settings.url}}{{page.url}}">

    <!-- FAVICONS -->

    <!-- APPLE ICONS -->

    <!-- APPLE SPLASH SCREENS -->

    <!-- MS TILE ICONS -->

    <!-- JAVASCRIPT -->
     {% include "_templates/scripts.njk" %}
</head>
