$font-stack: "Questrial", sans-serif;;
$title-font: Impact;
$primary-purple: #392033;
$primary-coral: #FD6051;
$white: #FCFCFC;
$black: #000000;
$altBg: #f8f9fa;
$gradient: linear-gradient(0.25turn, $primary-purple, $primary-coral);

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
	font-family: $font-stack;
  margin: 0;
	line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3 {
	font-family: $title-font;
	color: $primary-purple;
}

h2 {
	font-size: 36px;
	line-height: 40px;
	padding: 0;
}

a { 
	display: block; 
}

blockquote {
	font-family: "Lobster", cursive;
	font-size: 24px;
	text-align: center;
	padding: 20px;
	margin: 0;
}

@mixin flexbox($direction, $justify, $align) {
  display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

%listoverride {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

%layout {
	max-width: 1080px;
	width: 90%;
	position: relative;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	background: $primary-purple;
	box-shadow: 0 1px 3px rgb(0 0 0 / 25%);	
	z-index: 2;
}

.container {
	@extend %layout;
	margin: 0 auto;
	padding: 15px 0;
	@include flexbox(row, space-between, center);	
}

.hide { display: none; }

i.fab,
i.fas {
	font-size: 28px;
	color: #fff;
	position: relative;
	top: -2px;
}

i.fas.fa-times {
	top: 0px;
}

// HEADER

.header-logo {
	width: 210px;
}

// NAVIGATION
.mobile-menu {
	&__iconWrap {
		width: 25px;
		display: block;
	}
}

.navigation {
	&__wrapper {
		width: 80%;
	}

	&__bar {
		@include flexbox(row, flex-end, center);	
	}

	&__list {
		@extend %listoverride;
		@include flexbox(row, flex-start, center);
		font-size: 16px;
		font-weight: bold;
		color: $white;

		&--socials {
			margin: 0 10px 0 20px;
		}

		&--desktop {
			display: none;
		}
	}

	&__listItem {
		padding: 10px 5px;
		margin: 0 0 10px;
		cursor: pointer;
	}

	&__mobile {
		display: block;
    height: 100%;
    width: 150px;
    position: fixed;
    right: 0;
    top: 79px;
    padding: 10px 0 20px;
		background: $primary-purple;
		box-shadow: -1px 4px 2px rgb(0 0 0 / 25%);
		transition: right 0.5s ease;

		&--closed {
			right: -190px;
		}

		.navigation__list {
			@include flexbox(column, space-evenly, flex-start);
			padding: 0 10px;
		}
	}
}

// Mobile navigation
@media screen and (min-width: 900px) {
	.navigation {
		&__list {
			&--desktop {
				display: flex;
			}
		}

		&__listItem {
			padding: 5px;
			margin: 0 5px;
		}

		&__mobile {
			display: none;
		}
	}

	.mobile-menu {
		&__iconWrap {
			display: none;
		}
	}
}

// Main content 

.main-content {
	margin: 94px 0;
}

.posts {
	padding: 20px 0 0;

	&:nth-child(odd) {
		background: $white;

		.divider {
			-webkit-transform: skewY(2deg);
			-moz-transform: skewY(2deg);
			-ms-transform: skewY(2deg);
			-o-transform: skewY(2deg);
			transform: skewY(2deg);
			background: $white;
		}

	}

	&:nth-child(even){
		background: $altBg;

		.divider {
			-webkit-transform: skewY(-2deg);
			-moz-transform: skewY(-2deg);
			-ms-transform: skewY(-2deg);
			-o-transform: skewY(-2deg);
			transform: skewY(-2deg);
			background: $altBg;
		}

	}
}

// section block

.section {
	padding: 20px;
	margin: 0 0 20px;
	&__column {
		&:nth-child(1) {
			margin-bottom: 60px;
		}
	}
}

@media screen and (min-width: 900px) {
	h2 {
		font-size: 46px;
		line-height: 50px;
		padding: 0 160px 0 0;
	}

	.section {
		max-width: 1080px;
		width: 90%;
		position: relative;
		margin: 40px auto 20px;
		padding: 0;

		p {
			padding: 0 160px 0 0;
		}

		&__row {
			@include flexbox(row, space-evenly, flex-start);
			overflow: hidden;
		}

		&__column {
			position: relative;
			width: 50%;
			&--reverse {
				order: -1;
			}
		}
	}
}

.divider {
	display: block;
	width: 100%;
	height: 50px;
	position: relative;
	top: 25px;
	box-shadow: 0 2px 1px 0px rgb(0 0 0 / 5%);
}