$font-stack: Helvetica, sans-serif;
$title-font: Impact;
$primary-purple: #392033;
$primary-coral: #FD6051;
$white: #FFFFFF;
$black: #000000;
$gradient: linear-gradient(0.25turn, $primary-purple, $primary-coral);

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
	font-family: $font-stack;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


h1,h2,h3,blockquote {
	font-family: $title-font;
}

a { 
	display: block; 
}

@mixin flexbox($direction, $justify, $align) {
  display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

%listoverride {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

%layout {
	max-width: 1080px;
	width: 90%;
	position: relative;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	background: $primary-purple;
	box-shadow: 0 1px 3px rgb(0 0 0 / 25%);	
}

.container {
	@extend %layout;
	margin: 0 auto;
	padding: 0;
	@include flexbox(row, space-between, center);	
}

.hide { display: none; }

// HEADER

.header-logo {
	width: 210px;
}

// NAVIGATION
.mobile-menu {
	&__iconWrap {
		display: block;
	}
}

.navigation {
	&__wrapper {
		width: 80%;
	}

	&__bar {
		@include flexbox(row, flex-end, center);	
	}

	&__list {
		@extend %listoverride;
		@include flexbox(row, flex-start, center);
		font-size: 14px;
		font-weight: bold;
		color: $white;

		&--socials {
			margin: 0 10px 0 20px;
		}

		&--desktop {
			display: none;
		}
	}

	&__listItem {
		padding: 5px;
		margin: 0 5px;
	}

	&__mobile {
		display: block;
    height: 100%;
    width: 150px;
    position: fixed;
    right: 0;
    top: 79px;
    padding: 10px 0 20px;
		background: $primary-purple;
		box-shadow: -1px 4px 2px rgb(0 0 0 / 25%);

		&--closed {
			right: -190px;
		}

		.navigation__list {
			@include flexbox(column, space-evenly, flex-start);
			padding: 0 10px;
		}
	}
}

// Mobile navigation
@media screen and (min-width: 900px) {
	.navigation {
		&__list {
			&--desktop {
				display: flex;
			}
		}

		&__mobile {
			display: none;
		}
	}

	.burger-menu {
		&__iconWrap {
			display: none;
		}
	}
}

i.fab,
i.fas {
	font-size: 28px;
	color: #fff;
	position: relative;
	top: -2px;
}

i.fas.fa-times {
	top: 0px;
}

.main-content {
	@extend %layout;
	margin: 94px auto 0;
	padding: 0;
}

// section block

// Text block

// Image block

// Quote blocks

// Forms