*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a { 
	display: block; 
}

$font-stack: Helvetica, sans-serif;
$title-font: Impact;
$primary-purple: #392033;
$primary-coral: #FD6051;
$white: #FFFFFF;
$black: #000000;
$gradient: linear-gradient(0.25turn, $primary-purple, $primary-coral);

@mixin flexbox($direction, $justify, $align) {
  display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

%listoverride {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
}

.container {
	max-width: 1080px;
	width: 80%;
	position: relative;
	margin: 0 auto;
	padding: 0;
	@include flexbox(row, space-between, center);	
}

// HEADER

.header-logo {
	width: 210px;

	&__link {

	}

	&__icon {
		image {
			y: 19px;
		}
	}

}

// NAVIGATION

.navigation {
	&__wrapper {
		width: 50%;
	}

	&__bar {
		@include flexbox(column, space-evenly);	
	}

	&__list {
		@extend %listoverride;
    @include flexbox(row, space-evenly);

		&--socials {
			.navigation__listItem {

			}
		}
	}

	&__listItiem {

	}
}

// Mobile navigation
@media screen and (min-width: 900px) {
	.burger-menu {
		&__iconWrap {
			display: none;
		}
	}

	.navigation {
		&__mobile {
			display: none;
		}
	}
}

// section block

// Text block

// Image block

// Quote blocks

// Forms