---
title: 'Lisa Kim Fit - Manchester Personal Trainer (PT) - 404 error page'
description: 'Manchester Personal training, no nonesense approach, helping you to reach your goals or get started on your fitness journey'
layout: page
pagename: '404'
---

<main class="main-content">
	<article>
		{% include "_partials/components/404.njk" %}
	</article>
</main>
