---
title: 'Lisa Kim Fit - Greater Manchester (Bury) Personal Trainer (PT). Personal training at JD gyms Bury. Get in touch.'
description: 'Greater Manchester (Bury) Personal trainer. Personal training at JD gyms Bury, no nonesense approach, helping you to reach your goals or get started on your fitness journey'
layout: landing
---

<main class="main-content">
	<article>
		<div class="posts">
			<section id="clientdocs" class="section section--linkto" aria-labelledby="linkto">
				<div class="section__row">
					<div class="section__column section__column--solo">
						<div class="section__column__feature-image">
							<img class="feature-image" src="/images/linkup-featureimage.jpg" />
						</div>
						<div class="section__column__cta-collection">
							<a data-link class="cta" href="https://lisakimfit.s3.eu-west-1.amazonaws.com/LKF-parq.pdf" title="PARQ Form" aria-role="link" rel="noreferrer" target="_blank">PARQ - ready to exercise?</a>
							<a data-link class="cta" href="https://lisakimfit.s3.eu-west-1.amazonaws.com/LKF-ConsultationForm.pdf" title="Consultation form" aria-role="link" rel="noreferrer" target="_blank">Consultation form</a>
							<a data-link class="cta" href="https://lisakimfit.s3.eu-west-1.amazonaws.com/LKF-waiver.pdf" title="Waiver" aria-role="link" rel="noreferrer" target="_blank">Waiver</a>
							<a data-link class="cta" href="/pdf" title="Food Guide" aria-role="link" rel="noreferrer" target="_blank">FREE food guide</a>
						</div>
						<div class="disclaimer"><p><small>*Email all completed documentation to <a href="mailto:info@liskimfit.com">info@lisakimfit.com</a></small></p></div>
						<div class="section__column__social-links">
							<ul class="social-links__list">
								<li class="social-links__listItem">
									<a data-link href="http://www.instagram.com/lisakimfit" target="_blank" title="Instagram lisa kim fit" aria-role="link" rel="noreferrer">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li class="social-links__listItem">
									<a data-link href="http://www.facebook.com/lisakimfit" target="_blank" title="Facebook lisa kim fit" aria-role="link" rel="noreferrer">
										<i class="fab fa-facebook"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
	</article>
</main>
