---
title: 'Personal Trainer (PT) - Lisa Kim Fit - Horwich, Bolton - Cookie Policy'
description: 'No nonesense 1-2-1 personal training Horwich, online training plans and community based programme. Holding you accountable. Cookie Policy'
layout: _layouts/page
---

<main class="main-content">
	<article>
		{% include "_partials/components/cookie-content.njk" %}
	</article>
</main>