---
title: 'Lisa Kim Fit - Manchester Personal Trainer (PT) - Cookie Policy'
description: 'Manchester Personal training, no nonesense approach, helping you to reach your goals or get started on your fitness journey'
layout: page
pagename: 'cookie__policy'
---

<main class="main-content">
	<article>
		{% include "_partials/components/cookie-content.njk" %}
		{% include "_partials/components/form.njk" %}
		{% include "_partials/components/newsletter.njk" %}
	</article>
</main>