---
title: 'Lisa Kim Fit - Greater Manchester (Bury) Personal Trainer (PT). Personal training at JD gyms Bury.'
description: 'Greater Manchester (Bury) Personal trainer. Personal training at JD gyms Bury, no nonesense approach, helping you to reach your goals or get started on your fitness journey'
layout: page
tags: home
---

<main class="main-content">
	<article>
		{% include "_partials/components/section.njk" %}
		{% include "_partials/components/form.njk" %}
		{% include "_partials/components/newsletter.njk" %}
	</article>
</main>
{% include "_partials/components/formoverlay.njk" %}