---
title: 'Personal Trainer (PT) - Lisa Kim Fit - Horwich, Bolton'
description: 'No nonesense 1-2-1 personal training Horwich, online training plans and community based programme. Holding you accountable.'
layout: _layouts/page
---

<main class="main-content">
	<article>
		{% include "_partials/components/section.njk" %}
		{% include "_partials/components/form.njk" %}
		{% include "_partials/components/newsletter.njk" %}
	</article>
</main>
