---
title: 'Lisa Kim Fit - Manchester Personal Trainer (PT). Personal training out of GSQuared.'
description: 'Manchester Personal trainer. Personal training out of GSQuared, no nonesense approach, helping you to reach your goals or get started on your fitness journey'
layout: page
tags: home
---

<main class="main-content">
	<article>
		{% include "_partials/components/section.njk" %}
		{% include "_partials/components/form.njk" %}
		{% include "_partials/components/newsletter.njk" %}
	</article>
</main>
