---
title: 'Lisa Kim Fit - Manchester Personal Trainer (PT)'
description: 'Manchester personal training, no nonesense approach, helping you to reach your goals or get started on your fitness journey'
layout: landing
---

<main class="main-content">
	<article>
		<div class="posts">
			<section id="linkto" class="section" aria-labelledby="linkto">
				<div class="section__row">
					<div class="section__column section__column--solo">
						<video class="section__column__video-intro">

						</video>
						<div class="section__column__cta-collection">
							<a href="">Enquire about 1-2-1 and online personal coaching</a>
							<!-- <a href="">Calorie calculator</a> -->
							<a href="">Get your FREE recipe guide</a>
							<a href="/">Website</a>
							<a href="/">GSquared</a>
						</div>
						<div class="section__column__social-links">
							<ul class="social-links__list">
								<li class="social-links__listItem">
									<a href="http://www.instagram.com/lisakimfit" target="_blank" title="Instagram lisa kim fit" aria-role="link" rel="noreferrer">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li class="social-links__listItem">
									<a href="http://www.facebook.com/lisakimfit" target="_blank" title="Facebook lisa kim fit" aria-role="link" rel="noreferrer">
										<i class="fab fa-facebook"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
	</article>
</main>
