---
title: 'Lisa Kim Fit - Manchester Personal Trainer (PT)'
description: 'Manchester Personal training, no nonesense approach, helping you to reach your goals or get started on your fitness journey'
layout: landing
---

<main class="main-content">
	<article>
		<div class="posts">
			<section id="linkto" class="section section--linkto" aria-labelledby="linkto">
				<div class="section__row">
					<div class="section__column section__column--solo">
						<video class="section__column__video-intro hide">

						</video>
						<div class="section__column__feature-image">
							<img class="feature-image" src="/images/linkup-featureimage.jpg" />
						</div>
						<div class="section__column__cta-collection">
							<a class="cta" href="https://docs.google.com/forms/d/1qtXrOUcUF0ILLmO9AQ_7O5ELZOH6zkDUt08MOq7MgP4/" title="Enquiry form" aria-role="link" rel="noreferrer" target="_blank">Enquire about 1-2-1 and online personal coaching</a>
							<!-- <a href="">Calorie calculator</a> -->
							<a class="cta" href="/pdf" title="Sign up for PDF recipes" aria-role="link" rel="noreferrer" target="_blank">Get your FREE recipe guide</a>
							<a class="cta" href="/" title="Visit lisa kim fit website" aria-role="link" rel="noreferrer" target="_blank">Website</a>
							<a class="cta" href="https://gsquaredclubs.com/" title="GSquared health clubs" aria-role="link" rel="noreferrer" target="_blank">GSquared</a>
						</div>
						<div class="section__column__social-links">
							<ul class="social-links__list">
								<li class="social-links__listItem">
									<a href="http://www.instagram.com/lisakimfit" target="_blank" title="Instagram lisa kim fit" aria-role="link" rel="noreferrer">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li class="social-links__listItem">
									<a href="http://www.facebook.com/lisakimfit" target="_blank" title="Facebook lisa kim fit" aria-role="link" rel="noreferrer">
										<i class="fab fa-facebook"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
	</article>
</main>
