---
title: 'Lisa Kim Fit - Horwich Bolton Personal Trainer (PT)'
description: 'Horwich Bolton Personal training, no nonesense approach, helping you to reach your goals or get started on your fitness journey'
layout: _layouts/page
tags: pdf
---

<main class="main-content">
	<article>
		<div class="posts">
			<section id="pdf" class="section" aria-labelledby="pdf">
				<div class="section__row">
					<div class="section__column">
						<h2>Food Guide</h2>
						<p>Here is a food guide I have created for you. It is not a meal plan, I don't believe in meal plan. The purpose
							of the guide is to give you recipe inspiration, show how you can mix and match foods, show eating out options and
							ready meal options as well as educating you on how to eat when ill or if you are a woman, eating and training around
							your menstrual cycle, menopause, pcos and enometriosis. 
						</p>
						<a href="../images/LKFGuide.pdf">Download Guide</a>
					</div>
				</div>
			</section>
		</div>
		{% include "_partials/components/form.njk" %}
		{% include "_partials/components/newsletter.njk" %}
	</article>
</main>
