---
title: 'Lisa Kim Fit - Greater Manchester (Bury) Personal Trainer (PT). Personal training at JD gyms Bury.'
description: 'Greater Manchester (Bury) Personal trainer. Personal training at JD gyms Bury, no nonesense approach, helping you to reach your goals or get started on your fitness journey'
layout: page
tags: pdf
---

<main class="main-content">
	<article>
		<div class="posts newsletter newsletter--pdfguide">
			<section id="pdf" class="section">
				<div class="section__row">
					<div class="section__column section__column--solo">
						<h2>Yes please, send me the guide!</h2>
							<!-- Begin Mailchimp Signup Form -->
						<div id="mc_embed_signup" class="newsletter__embedd-wrapper row-form">
							<form action="https://lisakimfit.us5.list-manage.com/subscribe/post?u=f9a8f176416a474cfe80307f2&amp;id=963e49e33f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter__form validate" target="_blank" novalidate data-component="ns__form">
								<div id="mc_embed_signup_scroll" class="horizontalForm" data-fieldset-wrap>
									<!-- <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> -->
									<div class="newsletter__form__field mc-field-group" data-fieldset>
										<label for="mce-MMERGE1">Full Name
											<span data-label-text class="noError req asterisk">*
												<i class="far fa-check-circle hide" data-field-complete aria-hidden="true"></i>
											</span>
											<span class="hide" data-field-error aria-errormessage aria-hidden="true">
												<i class="fas fa-exclamation-circle"></i>Please enter a valid name
											</span>
										</label>
										<input type="text" value="" name="MMERGE1" class="required form-control" id="mce-MMERGE1" placeholder="Full Name" data-input>
									</div>
									<div class="newsletter__form__field mc-field-group" data-fieldset>
										<label for="mce-EMAIL">Email Address
											<span data-label-text class="noError req asterisk">*
												<i class="far fa-check-circle hide" data-field-complete aria-hidden="true"></i>
											</span>
											<span class="hide" data-field-error aria-errormessage aria-hidden="true">
												<i class="fas fa-exclamation-circle"></i>Please enter a valid email address
											</span>
										</label>
										<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email Address" data-input>
									</div>
									<div class="newsletter__form__field primary labelsOn">
										<input data-submit-button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="newsletter__form__field__submit primary disabled button">
									</div>
								</div>
								<div data-form-submitted id="mce-responses" class="newsletter__form__messages row-success">
									<p data-form-success class="response" id="mce-success-response" style="display: none" aria-hidden="true"></p>
									<p data-form-error class="response" id="mce-error-response" style="display: none" aria-hidden="true" aria-errormessage></p>
								</div>   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f9a8f176416a474cfe80307f2_963e49e33f" tabindex="-1" value=""></div>
							</form>
						</div>
						<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='MMERGE1';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
						<!--End mc_embed_signup-->

						<ul class="section__list">
							<li><span class="highlight"><strong>31</strong></span> Breakfast, lunch, dinner and, snack recipes</li> 
							<li>Knowledge and advice e.g. eating / training when ill</li>
							<li>Eating out guidance from your popular take aways / restaurants</li>
							<li>A guide to alcohol</li>
							<li>Ready meal examples from the supermarkets</li>
							<li>Vegan alternatives</li>
							<li>Sweet, savoury and, protein snack ideas</li>
							<li>Examples of mix and matching foods to create meals</li>
							<li>Spices and marinades recipes</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</article>
</main>
