---
title: 'Lisa Kim Fit - Horwich Bolton Personal Trainer (PT) - Services and Pricing'
description: 'Horwich Bolton Personal training, no nonesense approach, helping you to reach your goals or get started on your fitness journey'
layout: _layouts/page
tags: services
---

<main class="main-content">
	<article>
		{% include "_partials/components/section.njk" %}
		{% include "_partials/components/form.njk" %}
		{% include "_partials/components/newsletter.njk" %}
	</article>
</main>
