---
title: 'Lisa Kim Fit - Greater Manchester (Bury) Personal Trainer (PT) at GSQuared - Services and Pricing'
description: 'Greater Manchester (Bury) Personal training at GSQuared, no nonesense approach, helping you to reach your goals or get started on your fitness journey'
layout: page
tags: services
---

<main class="main-content">
	<article>
		{% include "_partials/components/section.njk" %}
		{% include "_partials/components/newsletter.njk" %}
	</article>
</main>

{% include "_partials/components/formoverlay.njk" %}
