---
title: 'Personal Trainer - Lisa Kim Fit - Horwich, Bolton'
description: 'No nonesense 1-2-1 personal training in Horwich, online training and community based programme. Holding you accountable.'
layout: _layouts/page
---

<main class="main-content">
	<article>
		<div class="post">
			<section id="thankYou" class="section" aria-labelledby="thankYou">
				<div class="section__row">
					<h2 style="padding: 0"> Thank you for getting in touch. Look out for an email from info@lisakimfit.com </h2>
				</div>
			</section>
		</div>
	</article>
</main>
